@media (max-width: 1200px) {
  .descr {
    margin: 0;
    margin-bottom: 70px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  .btn {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding: 24px 75.5px;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--main-color);
  }

  .hero-content {
    padding-top: 70px;
  }

  .hero-title {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 50px;
  }

  .courses-descr {
    margin-bottom: 50px;
  }

  .second-courses-descr {
    margin-bottom: 75px;
  }

  .three-courses-descr {
    margin-bottom: 95px;
  }
}

@media (max-width: 990px) {
  .hero {
    padding: 130px 0;
  }

  .hero-img {
    width: 311px;
    height: 300px;
  }

  .hero__content {
    display: flex;
    align-items: center;
  }

  .hero__content__block {
    padding-top: 0;
  }

  .margin {
    margin-bottom: 30px;
  }

  .first-result {
    padding-top: 110px;
    padding-left: 0;
    height: 80px;
    width: 80px;
    left: 15px;
  }

  .second-resul {
    padding-top: 110px;
    padding-left: 0;
    height: 80px;
    width: 80px;
    left: 15px;
  }

  .three-result {
    padding-top: 107px;
    padding-left: 0;
    height: 80px;
    width: 80px;
    left: 15px;
  }

  .padding-bottom {
    padding: 80px 0;
  }
  .teacher_1 {
    margin-bottom: 30px;
    background-image: url("../img/Teachers_1_1.png");
  }

  .teacher_2 {
    background-image: url("../img/Teachers_2_1.png");
  }

  .teacher_3 {
    background-image: url("../img/Teachers_3_1.png");
  }

  .teacher_4 {
    background-image: url("../img/Teachers_4_1.png");
  }

  .courses-content-block {
    margin-top: -25px;
  }

  .courses-descr {
    margin-bottom: 36px;
  }

  .courses-btn {
    padding: 20px 55px;
    font-size: 16px;
  }

  .courses-content-block {
    height: 376px;
  }

  .second-courses-descr {
    margin-bottom: 82px;
  }

  .three-courses-descr {
    margin-bottom: 100px;
}
}

@media (max-width: 768px) {
  .logo {
    margin: 0;
    margin-right: auto;
    margin-bottom: 0;
  }

  .flex {
    justify-content: center;
  }

  .hero {
    padding-top: 130px;
    padding-bottom: 164px;
  }

  /* .hero-img {
    display: none;
  } */

  .margin {
    margin-bottom: 10px;
  }

  .teacher_1 {
    margin-bottom: 30px;
    padding-top: 212px;
    background-image: url("../img/Teachers_1_1.png");
  }

  .teacher_2 {
    margin-bottom: 30px;
    padding-top: 212px;
    background-image: url("../img/Teachers_2_1.png");
  }

  .teacher_3 {
    padding-top: 212px;
    background-image: url("../img/Teachers_3_1.png");
  }

  .teacher_4 {
    padding-top: 212px;
    background-image: url("../img/Teachers_4_1.png");
  }

  .courses-content-block {
    height: 557px;
  }

  .teacher_1 {
    margin-bottom: 24px;
  }

  .courses-btn {
    padding: 20px 56px;
    font-size: 16px;
  }

  .courses-descr {
    margin-bottom: 40px;
  }

  .second-courses-descr {
    margin-bottom: 65px;
  }


  .hero-title {
    margin-bottom: 19px;
  }

  .descr {
    margin-bottom: 88px;
  }

  .hero-img {
    padding-left: 0px;
  }

  .padding {
    padding: 75px 0;
  }

  .benefits-img {
    height: 210px;
    width: 210px;
    padding-left: 0px;
  }

  .padding-bottom {
    padding-top: 0px;
    padding-bottom: 74px;
  }

  .first-result {
   background-size: 33%;
   padding-top: 106px;
  }

  .second-resul {
    background-size: 33%;
    padding-top: 106px;
   }

   .three-result {
    background-size: 33%;
   }

   .result-descr {
    padding-top: 0;
    max-width: 210px;
   }

   .teachers-title {
    margin-bottom: 23px;
   }

   .padding-reset {
    padding-top: 50px;
   }

   .courses-lg-display {
    display: none;
   }

  .courses-title {
    margin-bottom: 49px;
  }

  .courses-content-block {
    padding-top: 213px;
  }

  .time {
    top: -12px;
    right: 25px;
  }

  .courses-descr {
    line-height: 24px;
    margin-bottom: 50px;
  }

  .second-courses-descr {
    margin-bottom: 98px;
  }

  .first-second-courses {
    margin-bottom: 54px;
  }

  .courses_1 {
    background-image: url("../img/courses_1_1.png");
    background-repeat: no-repeat;
  }
   .courses_2 {
    padding-right: 16px;
    background-image: url("../img/courses_2_1.png");
    background-repeat: no-repeat;
  }
   .courses_3 {
    padding-top: 213px;
    background-image: url("../img/courses_3_1.png");
    background-repeat: no-repeat;
  }
   .courses_4 {
    background-image: url("../img/courses_4_1.png");
    background-repeat: no-repeat;
  }

  .courses-content-title {
    margin-bottom: 9px;
  }
}

@media (max-width: 586px) {
  .logo {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .header {
    padding: 31px 0;
  }

  .hero {
    padding-top: 77px;
    padding-bottom: 159px;
  }

  .hero-title {
    margin-bottom: 17px;
  }

  .hero-img {
    display: none;
  }

  .padding {
    padding: 80px 0;
  }

  .benefits-img {
    height: 134px;
    width: 150px;
    padding-top: 0;
  }

  .first-result {
    background-size: 45%;
    padding-top: 106px;
  }

  .second-resul {
    background-size: 45%;
    padding-top: 106px;
  }

  .three-result {
    background-size: 45%;
    padding-top: 106px;
  }

  .result-descr {
    max-width: 150px;
  }

  .teachers {
    padding-top: 70px;
  }

  .teacher_1 {
    margin-bottom: 24px;
    padding-top: 212px;
    background-image: url("../img/Teachers_1_2.png");
  }

  .teacher_2 {
    margin-bottom: 24px;
    padding-top: 212px;
    background-image: url("../img/Teachers_2_2.png");
  }

  .teacher_3 {
    padding-top: 212px;
    background-image: url("../img/Teachers_3_2.png");
  }

  .teacher_4 {
    padding-top: 212px;
    background-image: url("../img/Teachers_4_2.png");
  }

  .padding-reset {
    padding: 68px 0;
  }

  .courses_1 {
    background-image: url("../img/courses_1_2.png");
    background-repeat: no-repeat;
  }
   .courses_2 {
    padding-right: 16px;
    background-image: url("../img/courses_2_2.png");
    background-repeat: no-repeat;
  }
   .courses_3 {
    padding-top: 212px;
    background-image: url("../img/courses_3_2.png");
    background-repeat: no-repeat;
  }
   .courses_4 {
    background-image: url("../img/courses_4_2.png");
    background-repeat: no-repeat;
  }

  .courses-content-title {
    margin-bottom: 11px;
  }

  .courses-content-block {
    height: 653px;
  }

  .courses-descr {
    margin-bottom: 30px;
    max-width: 180px;
  }

  .courses-btn {
    padding: 19px 48px;
  }

  .second-courses-descr {
    margin-bottom: 78px;
  }

  .first-second-courses {
    margin-bottom: 56px;
  }

  .three-courses-title {
    max-width: 140px;
  }

  .three-courses-descr {
    margin-bottom: 151px;
  }

  .four-courses-descr {
    max-width: 250px;
    margin-bottom: 49px;
  }

  .courses_4 {
    padding-right: 16px;
  }

  .padding-586 {
    padding-bottom: 82px;
  }

  .footer {
    padding: 28px 0;
  }

}

@media (max-width: 527px) {
  .header {
    width: 100%;
    padding: 24px 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  .logo {
    margin: 0;
    margin-right: auto;
    width: 25%;
  }

  .hero {
    padding: 48px 0;
    padding-bottom: 67px;
  }

  .hero-title {
    margin-bottom: 3px;
    font-size: 30px;
    line-height: 30px;
  }

  .descr {
    margin-bottom: 50px;
    font-size: 16px;
  }

  .hero-descr {
    line-height: 21px;
    margin-bottom: 66px;
  }

  .btn {
    padding: 20px 53px;
    font-size: 16px;
  }

  .padding {
    padding: 50px 0;
  }

  .benefits-img {
    display: none;
  }

  .section-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 2px;
  }

  .section-descr {
    margin-bottom: 30px;
  }

  .result-descr {
    font-size: 16px;
    line-height: 19px;
    padding-top: 0;
  }

  .first-result {
    padding-top: 0;
    padding-left: 110px;
    height: 80px;
    width: 80px;
    left: 15px;
  }

  .second-resul {
    padding-top: 0;
    padding-left: 110px;
    height: 80px;
    width: 80px;
    left: 15px;
  }

  .three-result {
    padding-top: 0;
    padding-left: 110px;
    height: 80px;
    width: 80px;
    left: 15px;
  }

  .result:not(:last-child) {
    margin-bottom: 30px;
  }

  .padding-bottom {
    padding: 0 0 50px 0;
  }

  .margin {
    margin-bottom: -4px;
  }

  .teacher_1 {
    margin-bottom: 23px;
    background-image: url("../img/Teachers_1_mob.png");
  }

  .teacher_2 {
    background-image: url("../img/Teachers_2_mob.png");
  }

  .teacher_3 {
    margin-bottom: 23px;
    background-image: url("../img/Teachers_3_mob.png");
  }

  .teacher_4 {
    background-image: url("../img/Teachers_4_mob.png");
  }

  .content-teachers-box:not(:last-child) {
    margin-bottom: 30px;
  }

  .courses-content-block {
    min-height: 180px;
  }

  .courses:not(:last-child) {
    margin-bottom: 30px;
  }

  .courses-descr {
    margin-bottom: 88px;
  }

  .first-result {
    background-size: 27%;
    top: -3px;
  }

  .second-resul {
    background-size: 27%;
    top: -3px;
  }

  .three-result {
    background-size: 27%;
    top: -3px;
  }

  .result-descr {
    padding-top: 2px;
    max-width: 180px;
  }

  .padding-bottom {
    padding-bottom: 0;
  }

  .teachers {
    padding-top: 41px;
  }

  .teachers-title {
    margin-bottom: 24px;
  }

  .teachers-descr {
    max-width: 290px;
  }

  .courses-title {
    margin-bottom: 49px;
  }

  .padding-586 {
    padding-top: 43px;
  }

  .courses_1 {
    background-image: url("../img/courses_1_3.png");
    background-repeat: no-repeat;
  }
   .courses_2 {
    padding-right: 16px;
    background-image: url("../img/courses_2_3.png");
    background-repeat: no-repeat;
  }
   .courses_3 {
    padding-top: 212px;
    background-image: url("../img/courses_3_3.png");
    background-repeat: no-repeat;
  }
   .courses_4 {
    background-image: url("../img/courses_4_3.png");
    background-repeat: no-repeat;
  }

  .courses-content-block {
    min-height: 652px;
  }

  .courses-descr {
    margin-right: 0;
    margin-bottom: 100px;
    max-width: 230px;
  }

  .courses-btn {
    padding: 20px 56px;
  }

  .courses:not(:last-child) {
    margin-bottom: 55px;
  }

  .second-courses-descr {
    margin-bottom: 148px;
  }

  .courses_3 {
    padding-top: 211px;
  }

  .three-courses-descr {
    margin-bottom: 174px;
  }

  .four-courses-title {
    margin-bottom: 10px;
  }

  .four-courses-descr {
    margin-bottom: 97px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2F2C45;
    padding: 15px;
    padding-top: 42px;
    width: 100%;
    height: 65%;
    opacity: 0;
    z-index: 20;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    visibility: hidden;
  }
  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .header__list {
    display: block;

  }
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .nav__close {
    margin-bottom: 22px;
    position: absolute;
    right: 15px;
  }

  .header__link {
    color: var(--white-color);
    font-size: 18px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 56px;
  }
}

