:root {
  --white-color: #fff;
  --main-color: #3F2AFF;
  --gray-color: #666;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.header {
  padding: 27px 0;
  background-color: var(--main-color);
}

.logo {
  margin-right: auto;
}

.nav__list__link {
  color: var(--white-color);
  font-size: 18px;
}

.nav__list__item:not(:last-child){
  margin-right: 57px;
}

.hero {
  padding: 12px 0;
  background-image: url(../img/bg-hero.png);
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0;
  color: var(--white-color);
  font-size: 60px;
  margin-bottom: 27px;
  line-height: 64px;
}

.descr {
  margin: 0;
  margin-bottom: 90px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  padding: 24px 75.5px;
  border-radius: 20px;
  color: var(--white-color);
  background-color: var(--main-color);
}

.hero__content__block {
  padding-top: 112px;
}

.padding {
  padding: 77px 0;
}

.margin {
  margin-bottom: 27px;
}

.section-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 40px;
}

.section-descr {
  margin: 0;
  color: var(--gray-color);
  font-size: 16px;
  line-height: 24px;
  max-width: 585px;
}

.result-descr {
  font-weight: 700;
  padding-top: 12px;
  line-height: 19px;
  font-size: 16px;
}

.teachers {
  background-color: #212133;
}

.teachers-title {
  margin-bottom: 20px;
  color: var(--white-color);
}

.teachers-descr {
  color: #85859B;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.title-teachers-box {
  margin: 0;
  margin-bottom: 5px;
  color: var(--white-color);
  font-size: 18px;
  line-height: 27px;
}

.courses-content-block {
  min-height: 310px;
  margin-top: -10px;
  padding: 30px;
  padding-top: 44px;
  background-color: #EDF0F9;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.courses-content-title {
  margin: 0;
  font-size: 18px;
  margin-bottom: 12px;
}

.courses-descr {
  margin: 0;
  margin-bottom: 73px;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.courses-btn {
  padding: 20px 59px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.first-second-courses {
  margin-bottom: 27px;
}

.footer {
  padding: 31px 0;
  background-color: #2E2B44;
}

.footer-list-item:not(:last-child) {
  margin-right: 34px;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copywriting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
}

.copywriting-element {
  color: var(--main-color);
  font-size: 20px;
}

.benefits-img {
  padding-top: 20px;
}

.first-result {
  padding-left: 110px;
  background-image: url("../img/eye-circle.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 80px;
  width: 80px;
  left: 15px;
}

.second-resul {
  padding-left: 110px;
  background-image: url("../img/fingers.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 80px;
  width: 80px;
  left: 15px;
}

.three-result {
  padding-left: 107px;
  background-image: url("../img/eye-circle\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 80px;
  width: 80px;
  left: 15px;
}

.three-courses-descr {
  margin-bottom: 95px;
}

.time {
  position: absolute;
  right: 23px;
  top: 10px;
  padding-left: 29px;
  color: var(--white-color);

  background-image: url("../img/time.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.teacher_1 {
  padding-top: 210px;
  background-image: url("../img/Teachers_1.png");
  background-repeat: no-repeat;
}

.teacher_2 {
  padding-top: 210px;
  background-image: url("../img/Teachers_2.png");
  background-repeat: no-repeat;
}

.teacher_3 {
  padding-top: 210px;
  background-image: url("../img/Teachers_3.png");
  background-repeat: no-repeat;
}

.teacher_4 {
  padding-top: 210px;
  background-image: url("../img/Teachers_4.png");
  background-repeat: no-repeat;
}

.burger {
  display: none;
}

.burger__menu {
  position: absolute;
  top: 0;

  padding: 15px;
  width: 100%;
  height: 430px;
  background-color: #212133;

  z-index: 20;
}

.burger__menu__list {
  padding-top: 42px;
}

.burger__list__link {
  color: var(--white-color);
}

.burger__list__item:not(:last-child) {
  margin-bottom: 56px;
}

.burger__menu {
  display: none;
}

.header__nav {
  display: none;
  opacity: 0;
}
